# Virtual environment folder
venv/
.venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environment variables file
.env

# IDE settings
.vscode/
.idea/

# macOS files
.DS_Store

# Database files 
*.db
*.sqlite3
